<div id="breadcrumbs">
{% assign crumbs = page.url | remove: '/index.html' | split: '/' %}

{% if crumbs.size > 0 %}
    {% for crumb in crumbs offset: 1 %}
        {% unless forloop.first %}
            /
        {% endunless %}
        {% if forloop.last %}
            {{ page.title }}
        {% else %}
            {% assign target_path = crumbs | slice: 0, forloop.index | join: '/' %}
            {% include path-to-link.html path=target_path %}
        {% endif %}
     {% endfor %}
{% endif %}

</div>
